numpy~=1.20.1
torch>=1.1
numba~=0.53.1
tensorboardX~=2.2
easydict~=1.9
pyyaml~=5.4.1
scikit-image~=0.18.1
tqdm~=4.60.0

scipy~=1.6.3
spconv~=1.2.1
fire~=0.4.0
pcdet~=0.3.0+142904a
mayavi~=4.7.3
setuptools~=52.0.0
open3d~=0.12.0